// Add any font imports or definitions here
@font-face {
  font-family: "GE Dinar One";
  src: url('https://kashida-demo-teak.kashida-learning.co/asset-v1:riyali+101+2025+type@asset+block@GE-Dinar-One-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
