// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

// Apply GE Dinar One when the page is RTL
html, body {
  font-family: "GE Dinar One", sans-serif !important;
}


//Learner Dashboard MFE Styles

.text-dark-500 {
    color: #1C104B !important;
    font-weight: 700 !important;
    font-family: 'GE Dinar One' !important;
}

.align-middle {
      color: #1C104B !important;
}

#looking-for-challenge-widget.pgn__card.horizontal {
  flex-direction: row-reverse !important;
}

.course-list-title {
  font-family: 'GE Dinar One' !important;
}

.btn {
    font-family: 'GE Dinar One' !important;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'GE Dinar One', sans-serif !important;
  color: #1C104B !important;
}

.masquerade-bar w-100, .alert-message-content {
  font-family: 'GE Dinar One' !important;
}

.pr-2 {
  padding: 20px !important;
}

// Learning MFE Styles

.text-primary {
    color: #00B2AB !important;
}

.btn-brand {
    background-color: #1c104b !important;
    border-color: #1c104b !important;
    color: #fff !important;
}

.btn-brand:hover {
    background-color: #150c3a !important; 
    border-color: #150c3a !important; 
    color: #fff !important;
}

.btn-link {
    color: #00b2ab !important;
    font-weight: 400;
    text-decoration: none;
}


// Authenitcation MFE Styles
.bg-primary-400 {
  background-color: #00B2AB !important;
}


.large-screen-svg-primary {
     fill: #00B2AB !important;
}

.text-accent-a {
    color: #A1C440!important;
}

.display-2, .content {
     font-family: "GE Dinar One" !important;
}
 





